/*
*/

.theme-mv {
}

.theme-section {
  position: relative;
  padding: 50px 0 50px;
/*   &::before,
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    display: inline-block;
    width: 70px;
    aspect-ratio: 1;
    background: linear-gradient(45deg, #8f8bff);
  }
  &::before {
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    transform: scaleX(-1);
  }
  &:nth-child(2n) {
    &::before {
      transform: scaleX(1);
      left: 0;
      right: auto;
    }
  }
  &::after {
    bottom: 0;
    right: 0;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  } */
}