@use "../variables" as *;
@use "../mixin" as *;

.m-card-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &.-col-3 {
    gap: 32px;
    @include mq(pc) {
      gap: 2%;
    }
    @include mq(sp) {
      gap: 24px;
    }
    .m-card {
      width: 405px; // Adjust width for three cards per row
      @include mq(pc) {
        width: 32%;
      }
      @include mq(sp) {
        width: 100%; // Full width on small screens
      }
    }
  }
  &.-col-2 {
    gap: 32px;
    @include mq(pc) {
      gap: 2%;
    }
    @include mq(sp) {
      gap: 24px;
    }
    .m-card {
      width: 624px; // Adjust width for three cards per row
      @include mq(pc) {
        width: 48%;
      }
      @include mq(sp) {
        width: 100%; // Full width on small screens
      }
    }
  }
}
.m-card {
  background-color: #fff;
  box-sizing: border-box;
  line-height: 1.5;

  &-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 24px;
    @include mq(sp) {
      margin-bottom: 15px;
    }
  }

  &-title {
    @include fz(24);
    font-weight: medium;
    margin-block: 0;
  }

  &-description {
    @include fz(20);
    margin-block: 0;
  }

  &-price {
    @include fz(20);
    font-weight: medium;
    margin-block: 0;
  }
}