@use "../variables" as *;
@use "../mixin" as *;

.m-plate-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &.-col-3 {
    gap: 32px;
    @include mq(pc) {
      gap: 2%;
    }
    @include mq(sp) {
      gap: 24px;
    }
    .m-plate {
      width: 405px;
      @include mq(pc) {
        width: 32%;
      }
      @include mq(sp) {
        width: 100%; // Full width on small screens
      }
    }
  }
  &.-col-2 {
    gap: 32px;
    @include mq(pc) {
      gap: 2%;
    }
    @include mq(sp) {
      gap: 24px;
    }
    .m-plate {
      width: 624px;
      @include mq(pc) {
        width: 48%;
      }
      @include mq(sp) {
        width: 100%; // Full width on small screens
      }
    }
  }
}
.m-plate {
  background-color: #fff;
  padding: 32px;
  border: 1px solid #E6E6E6;
  border-radius: 12px;
  line-height: 1.5;
  @include mq(sp) {
    padding: 20px;
  }

  &-title {
    @include fz(24);
    font-weight: medium;
    margin-bottom: 48px;
    @include mq(sp) {
      margin-bottom: 24px;
    }
  }

  &-users {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-icons {
    width: 45px;
    height: auto;
    border-radius: 50%;
    overflow: hidden
  }

  &-name {
    @include fz(16);
    font-weight: medium;
    margin-block: 0;
  }

  &-description {
    @include fz(16);
    margin-block: 0;
    color: #828282;
  }
}